@import '../../../Style/variables.scss';

.wrapIconAdd {

    background-image: url('../../../Assets/circleIcon.png');
    height: 63px;
    width: 63px;
    position: absolute;
    bottom: 48px;
    right: 68px;

}

